<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p> {{email}} </p>
</div>

<article class="about">
    <h2> Sobre mí</h2>
    <p>
        Desarrolladora web del año 92. Con titulo de Técnico Superior en Administración de Sistemas en Red. 
        Aprendiendo de forma autodidacta a través de la plataforma Udemy y Cursera.
        He desarrollado proyectos con PHP nativo además de otros usando Laravel, Symphony o CMS como Wordpress.  
        Esta web además está desarrollada usando JavaScript con AngularJS, NodeJS y ExpressJS. Además tengo conocimientos sobre ReactJS. 
        Estoy actualmente formandome en el desarrollo web con Java, Spring, etc 
    </p>
</article>